Repository 07sumit1002/CabRental, pull requests merged in 2024-10, with the labels that each got.

#240 Enhanced the about page
  about.html
Labels: Level2, gssoc-ext, Hacktoberfest-accepted

#354 Update README.md
  README.md
  images/Cab_rental.png.png
  images/canRental2.png.png
Labels: level1, gssoc-ext, PR merged

#302 Update Navs
  .DS_Store
  about.html
  contactus.html
  img/.DS_Store
  img/services.png
  index.html
  login.html
  review.html
  ride.html
  serv.css
  serv.html
  signup.html
Labels: Level3, gssoc-ext, hacktoberfest-accepted

#478 docs: [#234] - Adding documentation on the home page
  index.html
  style.css
Labels: level1, gssoc-ext, hacktoberfest-accepted

#455 #259 Enhancement of text
  index.html
  style.css
Labels: Level2, gssoc-ext, hacktoberfest-accepted

#483 feat: [#250] - Adding Custom Cursor effect
  about.html
  contactus.html
  forgot-password.html
  index.html
  login.html
  review.html
  ride.html
  serv.html
  signup.html
Labels: Level2, gssoc-ext, hacktoberfest-accepted
